<!DOCTYPE html>
<html lang="en">
  <% include header.tmpl %>
<body>
  <% include navbar.tmpl %>

  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Page not found</h2>
          <p>Sorry, but the page you requested was not found!</p>
        </div>

      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Obtain latest version of jquery automatically -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Obtain Bootstrap javascript from CDN (online service) so it doesn't have to be on my machine -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
