              <div class="well well-sm">
                <b>Show:</b>
                  <label><input type="checkbox" checked onclick="$('.show-name').toggle();"> Name</label>
                  <label><input type="checkbox" checked onclick="$('.show-degree').toggle();"> Degree</label>
                  <label><input type="checkbox" checked onclick="$('.show-title').toggle();"> Title</label>
                  <label><input type="checkbox" checked onclick="$('.show-date').toggle();"> Date</label>
              </div>
